<h1>Hi</h1>

<p>you typed <%= @login %></p>
<p>you typed <%= @pass %></p>

<p><%= @message %></p>

<form action="/" method="post">
  <input type="text" name="aaa"/>
  <input type="password" name="bbb"/>
  <input type="submit"/>

</form>

